@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--cream: #f5f1e8;
	--brown: #d9b9a0;
	--dark-brown: #3a2617;
	--medium-brown: #945c44;
	--coffee-brown: #67412e;
	--black: #0f0a06;
	--gold: #ffbf00;
}

body {
	background-color: var(--dark-brown);
	font-family: 'Noto Sans';
	color: var(--cream);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem 4rem;
}

header div:first-child {
	width: 13rem;
	height: 9rem;
	background-image: url('../assets/logo.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

header button {
	border: none;
	background-color: inherit;
	cursor: pointer;
	font-weight: 500;
	color: var(--cream);
	padding: 0 2rem;
	border: 2px solid transparent;
}

button:not(.contact) {
	overflow: hidden;
	position: relative;
	display: inline-block;
}

button:not(.contact)::before,
button:not(.contact)::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

button:not(.contact)::after {
	content: attr(data-replace);
	height: 100%;
	/* top: 0; */
	transform-origin: 100% 50%;
	transform: translate3d(200%, 0, 0);
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
	color: var(--gold);
}

button:not(.contact):hover::after {
	transform: translate3d(0, 0, 0);
}

button:not(.contact)::before {
	background-color: var(--gold);
	height: 2px;
	bottom: 0;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

button:not(.contact):hover::before {
	transform-origin: 0% 50%;
	transform: scaleX(1);
}

button:not(.contact) span {
	display: inline-block;
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

button:not(.contact):hover span {
	transform: translate3d(-200%, 0, 0);
}

header div:last-child {
	display: flex;
	gap: 3rem;
}

header .contact {
	border-radius: 3rem;
	background-color: var(--brown);
	padding: 1.4rem 2.8rem;
	transition: color .3s, background-color .3s ;
}

header .contact:hover {
	color: var(--black);
	background-color: var(--gold);
}

.hero {
	background-image: url('../assets/cafe.jpg');
	background-size: cover;
	background-position: center;
	min-height: 43rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 500;
	font-size: 4rem;
	gap: 4rem;
	background-repeat: no-repeat;
	text-align: center;
}

.hero p:first-child {
	letter-spacing: 0.5rem;
}

.hero p:last-child {
	font-weight: 100;
	font-family: 'Cookie';
	line-height: 3;
}

main.home > div:last-child {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	align-items: center;
	padding: 6rem;
}

main.home > div:last-child > p {
	font-size: 3.5rem;
}

main.home > div:last-child > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 200;
	gap: 1rem;
}

main.home > div:last-child > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
main.home > div:last-child > div > div :first-child {
	font-weight: 600;
	font-size: 1.1em;
	margin-bottom: -0.5rem;
}

main.menu .hero > p:first-child,
.card h3 {
	color: var(--gold);
}

.card h3 {
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.card > div {
	margin-bottom: 1rem;
}

.card > div > p:first-child {
	font-size: 1.4rem;
	display: flex;
	align-items: center;
}

.card > div > p:last-child {
	font-size: 1.2rem;
	font-weight: 200;
}

main.menu .hero {
	background-image: url('../assets/menu.jpg');
}

main.menu .cards {
	padding: 10rem 10rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
	gap: 5rem 7rem;
	place-content: center;
}

span.underline {
	display: inline-block;
	background-color: var(--gold);
	height: 1.5px;
	flex: 1;
	margin: 0 1.4rem;
	position: relative;
}

span.underline::before {
	content: '';
	border-radius: 50%;
	border: 1.5px solid var(--gold);
	width: 1rem;
	height: 1rem;
	position: absolute;
	transform: translate(-100%, -50%);
	left: 0;
}

span.underline::after {
	content: ' ';
	border-radius: 50%;
	border: 1.5px solid var(--gold);
	width: 1rem;
	height: 1rem;
	position: absolute;
	right: 0;
	transform: translate(100%, -50%);
}

main.about {
	display: grid;
	grid-template-columns: 6fr 5fr;
	padding: 7rem;
	place-items: center;
}

main.about > div {
	background-image: url('../assets/about.jpg');
	width: 40rem;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

main.about > p {
	font-size: 2.3rem;
}

main.contact {
	display: flex;
	flex-direction: column;
}

main.contact > h1 {
	margin: 6rem 0;
	font-size: 5.7rem;
	color: var(--gold);
	text-align: center;
}

main.contact > div {
	margin: 1rem 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
	justify-items: center;
}

main.contact > div > div {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main.contact > div > div > h2 {
	font-size: 4rem;
	font-weight: 300;
}

main.contact h4 {
	color: var(--gold);
}

main.contact form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 1rem;
}

main.contact form > div {
	display: flex;
	gap: 2rem;
}

main.contact form label {
	font-size: 1.3rem;
}

main.contact form input {
	font-size: 1.6rem;
	width: 100%;
	border: none;
}

main.contact form input,
main.contact form textarea {
	border-radius: 1px;
	padding: 0.2rem 0.7rem;
}

main.contact form label:has(> textarea) {
	display: flex;
	flex-direction: column;
}

main.contact form textarea {
	height: 10rem;
}

main.contact input[type='submit'] {
	width: 12rem;
	padding: 0.4rem;
	border-radius: 1rem;
	background-color: var(--brown);
	padding: 0.4rem 0;
	border: none;
	cursor: pointer;
}
